@media only screen and (max-width: 480px) {
    /* Your styles for mobile phones here */
    .ico
    {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }
    svg
    {
        width: 200px;
        height: 200px;
        border: 0px blue solid;

        animation: x 20s linear;
        animation-iteration-count: infinite;

        border-radius: 50%;
    }
@keyframes x
    {
        0%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        25%
        {
            box-shadow: 0px 0px 4px 0px #FF0019;
        }
        50%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        75%
        {
            box-shadow: 0px 0px 6px 0px #2b60de;
        }
        100%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for tablets here */
    .ico
    {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    svg
    {
        width: 200px;
        height: 200px;
        border: 0px blue solid;

        animation: x 20s linear;
        animation-iteration-count: infinite;

        border-radius: 50%;
    }
@keyframes x
    {
        0%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        25%
        {
            box-shadow: 0px 0px 4px 0px #FF0019;
        }
        50%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        75%
        {
            box-shadow: 0px 0px 6px 0px #2b60de;
        }
        100%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for small laptops and desktops here */
    .ico
    {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    svg
    {
        width: 200px;
        height: 200px;
        border: 0px blue solid;

        animation: x 20s linear;
        animation-iteration-count: infinite;

        border-radius: 50%;
    }
@keyframes x
    {
        0%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        25%
        {
            box-shadow: 0px 0px 4px 0px #FF0019;
        }
        50%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        75%
        {
            box-shadow: 0px 0px 6px 0px #2b60de;
        }
        100%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Your styles for medium to large desktops here */
    .ico
    {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    svg
    {
        width: 200px;
        height: 200px;
        border: 0px blue solid;

        animation: x 20s linear;
        animation-iteration-count: infinite;

        border-radius: 50%;
    }
@keyframes x
    {
        0%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        25%
        {
            box-shadow: 0px 0px 4px 0px #FF0019;
        }
        50%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        75%
        {
            box-shadow: 0px 0px 6px 0px #2b60de;
        }
        100%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
    }
}

@media only screen and (min-width: 1441px) {
    /* Your styles for large desktops and beyond here */

    .ico
    {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    svg
    {
        width: 200px;
        height: 200px;
        border: 0px blue solid;

        animation: x 20s linear;
        animation-iteration-count: infinite;

        border-radius: 50%;
    }
@keyframes x
    {
        0%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        25%
        {
            box-shadow: 0px 0px 4px 0px #FF0019;
        }
        50%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
        75%
        {
            box-shadow: 0px 0px 6px 0px #2b60de;
        }
        100%
        {
            box-shadow: 0px 0px 4px 0px #fff;
        }
    }
}
